<h1>Fornecedor <%= @supplier.brand_name %></h1>

<%= link_to 'Editar fornecedor', edit_supplier_path(@supplier.id) %>
<%= link_to 'Voltar', root_path %>

<p>Razão social: <%= @supplier.corporate_name %></p>
<p>CNPJ: <%= @supplier.registration_number %></p>
<p>Cidade: <%= @supplier.city %></p>
<p>Estado: <%= @supplier.state %></p>
<p>Endereço: <%= @supplier.full_address %></p>
<p>Email: <%= @supplier.email %></p>